.menu{
    min-height: 100%;
    width: 20%;
    overflow: auto;

    align-items: left;
    justify-content: left;
    background-color: #00183d;
}

.menu a{
    text-decoration: none;
    font-size: 20px;
    color: #FFF;
    cursor: pointer;
    transition: all 0.5s;
}
.menu a:hover{
    color: #0057da;
    transition: all 0.5s;
}
.menu ul {
    display: block;
    list-style-type: disc;
    margin-top: 1em;
    margin-bottom: 1 em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
}