body{
	background-color: #ddd;
}

header{
	display: flex;
	justify-content: center;
	align-items:center; 
	font-size: 35px;
	width: 100%;
	height: 60px;
	background-color: #0057da;
	color:#FFF
}

header strong:hover{
	color:#000;
	cursor: pointer;
	transition: all 0.8s;
}

.container{
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: center;
	align-items: center;
}

.post{
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 600px;
	background-color: #fff;
	border-width: 1px;
	border-radius: 7px;
	margin: 15px;
	padding: 10px;
}

.post .titulo{
	font-size: 25px;
	margin-bottom: 25px;
	margin-top: 10px;
	color: #000;
}

.post .subtitulo{
	margin: 5px;
}

.post .botao{
	height: 40px;
	width: 150px;
	background: none;
	border-radius: 5px;
	cursor: pointer;
	padding: 5px;
	margin-left: 15px;
	margin-right: 15px;
	border: 2px solid #0057da;
	color: #0057da;
	font-size: 20px;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: 10px;
}

.botao:hover{
	background: #0057da;
	color: #FFF;
	transition: all 0.5s;
	opacity: 0.7;
}

.inputtext{
	height: 40px;
	width: 80%;
	background-color: #fff;
	border-radius: 5px;
	padding: 5px;
	margin-left: 15px;
	margin-right: 15px;
	border: 2px solid #0057da;
	color: #0057da;
	font-size: 20px;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: 10px;
}

.lista{
	display: row;
	justify-content: center;
	align-items: center;
	text-align: left;
}

.itemlista{
	color: #0057da;
	font-size: 20px;
	font-weight: bold;
}